:root{
    --BackgroundLightMain: #F4F4F4;
    --FontLightColorMain: #000000;
    --SecondColorLight: rgb(20, 141, 179);
    --HoverColorLigth: #38383883;
}

.bodyLightTheme{
    background-color: var(--BackgroundLightMain);

    main{
        .input{
            label{
                color: var(--FontLightColorMain);
            }

            #buttons{
                button{
                    color: var(--FontLightColorMain);   
                }

                button:hover{
                    color: var(--BackgroundLightMain);

                    background-color: var(--HoverColorLigth);
                }
            }
        }

        #backRules{
            button{
                color: var(--FontLightColorMain);  
            }

            button::after{
                background-color: var(--FontLightColorMain);
            }
        }

        #secretPasswordDiv{
            h1,h2{
                color: var(--FontLightColorMain);
            }   
        }

        a{
            color: var(--FontLightColorMain);
        }

        a::after{
            background-color: var(--FontLightColorMain);
        }
    }

    footer{
        h1{
            color: var(--FontLightColorMain);
        }

        ol{
            li{
                color: var(--FontLightColorMain);
            }
        }
    }
}