@import url('https://fonts.googleapis.com/css2?&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --BackgroundColor: #0F0F0F;
    --SecondColor: rgba(158,221,255,90);
    --HeaderBackgroundColor: rgba(50,50,50,30);
    --HoverColor: rgba(255,255,255,0.1);
    --FontColor: #FFFFFF;
    --BorderRepoColor: #5f5f5f;
    --NumberFonts: "Press Start 2P";
    --ParagraphyFont: "Quantico";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--BackgroundColor);


}

main{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #secretPasswordDiv{
        margin-bottom: 24px;

        display: flex;
        flex-direction: column-reverse;
        gap: 8px;

        align-items: center;

        div{
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        p{
            font-family: var(--NumberFonts);
            font-weight: normal;
            font-size: 32px;

            color: var(--FontColor);

            border-radius: 6px;

            padding: 8px;
        }

        h1,h2{
            font-family: var(--ParagraphyFont);

            color: var(--FontColor);
        }
    }

    .input{
        color: var(--FontColor);

        width: 300px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        label{
            font-family: var(--ParagraphyFont);
        }
        
        #buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button{
                font-family: var(--ParagraphyFont);

                background-color: transparent;

                color: var(--FontColor);

                border:transparent;
                border-radius: 24px;

                cursor: pointer;

                padding: 4px 8px;
            }

            button:hover{
                background-color: var(--HoverColor);
                
                transition: all .3s ease;
            }
        }
    }

    .NE{
        background-color: red;
    }

    .PE{
        background-color: orange;
    }

    .PC{
        background-color: green;
    }

    a{
        font-family: var(--ParagraphyFont);

        color: var(--FontColor);

        text-decoration: none;

        margin-top: 24px;

        position: relative;
        display: inline-block;
    }

    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--FontColor);
        transition: width 0.5s ease;
    }

    a:hover::after {
        width: 100%;
    }
}

footer{
    font-family: var(--ParagraphyFont);

    color: var(--FontColor);
}