@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --BackgroundColor: #0F0F0F;
    --SecondColor: rgba(158,221,255,90);
    --HeaderBackgroundColor: rgba(50,50,50,30);
    --HoverColor: rgba(255,255,255,0.1);
    --FontColor: #FFFFFF;
    --BorderRepoColor: #5f5f5f;
    --TitlesFont: "Pixelify Sans";
    --ParagraphyFont: "Quantico";
}

/* Preparando para a troca de cores */
#bodyLightTheme{
        background-color: #FFFFFF;
    
    h1,h2,h3,p,a{
        color: #0F0F0F;
    }
    svg{
        fill: #0F0F0F;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--BackgroundColor);
}

header{
    background-color: var(--HeaderBackgroundColor);
    color: var(--FontColor);

    height: 80px;

    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    h1{
        font-family: var(--TitlesFont);
        font-weight: normal;
        font-size: 40px;
    }

    a{
        font-family: var(--ParagraphyFont);
        color: var(--FontColor);

        text-decoration: none;
        text-align: center;

        width: 100px;

        padding: 8px;
        position: relative;
    }

    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--FontColor);
        transition: width 0.5s ease;
    }

    a:hover::after {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--SecondColor);
        filter: blur(2px);
    }
}

#links{
    display: flex;
    gap: 60px;
}

/* Main */
svg{
    path{
        fill: var(--SecondColor);
    }
}

.titleMain{
    font-family: var(--TitlesFont);
    font-weight: normal;
    font-size: 50px;

    color: var(--FontColor);

    margin: 32px;

    text-align: center;
}

#whoIam{
    margin: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h1{
        font-family: var(--TitlesFont);
        font-weight: normal;
        font-size: 50px;

        color: var(--FontColor);

        margin-bottom: 16px;
    }

    p{
        font-family: var(--ParagraphyFont);
        font-size: 20px;
        
        color: var(--FontColor);

        width: 400px;
    }

    img{
        width: 400px;
        height: 400px;

        border-radius: 8px;
    }
}

.tecnologies{
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img{
        width: 500px;
        height: 500px;
    }
    .everyTecnologies{
        display: grid;
        grid-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    
    .iconTecnologies{
        text-align: center;
    
        h1{
            font-family: var(--ParagraphyFont);
            font-weight: normal;
    
            color: var(--SecondColor);
        }
    
        svg{
            fill: var(--SecondColor);
            width: 120px;
            height: 120px;
        }
    
    }
}

.portfolioExemple{
    border: 1px solid var(--SecondColor);
    border-radius: 20px;

    margin: 32px;
    padding: 24px;

    display: flex;

    img{
        border-radius: 20px;
    
        width:700px;
    }

    .portfolioImageSmartPhone{
        width: 300px;
    }

    .portfolioText{
        font-family: var(--ParagraphyFont);

        color: var(--FontColor);

        margin-left: 32px;

        h2{
            margin-bottom: 16px;
        }

        p{
            width: 400px;
        }
    }
}

#repository{
    padding: 32px;

    h1{
        font-family: var(--ParagraphyFont);
        font-size: 24px;
        
        color: var(--FontColor);
        margin-bottom: 6px;
    }

    a{
        font-family: var(--ParagraphyFont);
        text-decoration: none;

        color: var(--FontColor);
    
        border-bottom: 1px solid var(--BorderRepoColor);

        padding-bottom: 8px;
        margin-bottom: 16px;

        display: block;
    }

    a:hover{
        font-size: 20px;

        color: var(--SecondColor);

        transition: all .3s;
    }

}


#aboutMe{
    p{
        width: 1000px;

        font-family: var(--ParagraphyFont);
        font-weight: normal;

        color: var(--FontColor);

   

        margin: auto;
    }
}

#AcademyFormation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .formationDiv    {
        width: 320px;
        height: 400px;

        border: 1px solid var(--SecondColor);
        border-radius: 16px;

        padding: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;

        svg{
            margin: auto;
            margin-bottom: 16px;
        }

        h2, h3, p{
            font-family: var(--ParagraphyFont);
            font-weight: normal;

            color: var(--FontColor);

            margin: auto;
            margin-top: 0px;

            text-align: center;
        }
    }
}

#contacts{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    img{
        width: 400px;
    }

    .contactLink{
        width: 200px;

        margin-bottom: 16px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        a, p{
            font-family: var(--ParagraphyFont);
            font-weight: normal;
            font-size: 14px;

            color: var(--FontColor);

            text-decoration: none;
        }

        svg{
            width: 50px;
        }
    }
}

#passwordDiv{
    width: 200px;

    text-align: center;
    margin: auto;

    a {
        font-family: var(--ParagraphyFont);
        font-weight: normal;
        text-decoration: none;
        color: var(--FontColor);
        height: 40px;
        
        padding: 8px;

    }

    a:hover {
        background-color: var(--HoverColor);

        border-radius: 20px; 

        transition: background-color 0.5s;
    }
}

/* Footer */

footer{
    height:100px;

    border-top:1px solid var(--SecondColor);

    margin-top: 64px;
    padding: 16px;


    h2{
        font-family: var(--ParagraphyFont);
        font-weight: normal;
        font-size: 20px;

        color: var(--FontColor);
    }

    #socialFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .contactLink{
            flex-direction: row;
            align-items: center;
            gap: 16px;
            display: flex;

            a{
                font-family: var(--ParagraphyFont);
                text-decoration: none;

                color: var(--FontColor);
            }

            svg{
                width: 45px;
            }
            
        }
    }
}